@font-face {
  font-family: 'NanumYeoReumGeurSsi';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumYeoReumGeurSsi/NanumYeoReumGeurSsi.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumYeoReumGeurSsi/NanumYeoReumGeurSsi.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumYeoReumGeurSsi/NanumYeoReumGeurSsi.ttf') format('truetype');
}